// Fonts
$font-family-base: Montserrat, sans-serif;
$font-w-base: 400;
$font-w-bold: 700;
$font-s-base: 16px;
$font-s-normal: 24px;
// Colors
$color-white: #ffffff;
$color-base: $color-white;
$color-blue:  #0099cc;
$bg-base: #0f111e;
